body {
    background-color: #ece9e3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: bold;
    background-color: beige;
    padding: 10px 20px;
    border-radius: 5px;
}

li {
    background-color: rgb(216, 144, 36);
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.container {
    display: flex;
    padding: 5px 20px;
}

.container div {
    flex-grow: 1;
    background-color: rgb(22, 190, 190);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
}

li {
    list-style-type: none;
}

#meals-list li {
    transition: 0.3s;
    cursor: pointer;
}

#meals-list li:hover {
    transform: scale(1.05, 1.05);
}

.selected {
    background-color: rgb(145, 91, 11);
}

.btn-orders {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 30px;
    width: 150px;
    border: none;
    font-weight: bold;
}

.success {
    background-color: rgb(52, 177, 58);
}

.danger {
    background-color: rgb(226, 51, 21);
}

.success:disabled {
    background-color: rgb(103, 187, 107);
}

.orders-actions {
    text-align: center;
}

form input {
    width: calc(100% - 15px);
    height: 24px;
    padding-left: 5px;
    border: solid 0px;
    background: #bdbdbd;
    border-radius: 5px;
    color: #555555;
}

.btn {
    border: solid 0px;
    padding: 10px 15px;
    color: #ffffff;
    background: #2288cc;
    border-radius: 5px;
}

.block {
    width: calc(100% - 8px);
}

.form-main {
    border: 0px solid;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 30px;
}

.form-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.login-form {
    margin-left: 5px;
}

.login-form p {
    margin-bottom: 5px;
    font-size: 0.85em;
    font-weight: bold;
}

.login-form div {
    margin-bottom: 25px;
}

.align-right {
    text-align: right;
}

.btn-block {}